.tela {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

div.quadrado ,
.list {
    border: 2px solid red;
    padding: 20px;
    border-radius: 12px;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.quadrado{
    display:flex;
    flex-direction: column;
   
}

p {
    font-weight: lighter;
}